.navbar-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.navbar-container a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
}
