@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px; 
  background-color: $background-color;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  @media (min-width: 768px) {
    padding: 20px 30px;
  }
  
  .logo {
    font-size: 24px; 
    font-weight: bold;
    color: $primary-color;

    @media (min-width: 768px) {
      font-size: 32px;
    }
  }

  .icons {
    display: flex;
    align-items: center;
    gap: 15px; 

    @media (min-width: 768px) {
      gap: 20px;
    }

    .icon {
      font-size: 24px; 
      color: $text-color;
      cursor: pointer;

      @media (min-width: 768px) {
        font-size: 28px;
      }
    }
  }
}
