.task {
    list-style: none;
    font-size: 1.2rem;
<<<<<<< HEAD
  }

  .close-button {
    background-color: red;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    margin-left: auto;
    align-self: auto;
    margin-left: 10px;
    border-radius: 80px;
=======
    display: flex;
  }

  .close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(160, 61, 61);
    color: white;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    cursor: pointer;
  }

  .close-button:hover {
    background-color: rgb(216, 63, 63);
  }

  .close-button:active {
    background-color: rgb(100, 54, 54);
>>>>>>> 7885f266fd4e92f286ba48647e868b2439220b2a
  }