@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';
.stories {
  display: flex;
  overflow-x: scroll;
  padding: 10px 0;
  margin-left: 12px;

  .story {
    margin-right: 10px;

    img {
      width: 60px;
      height: 60px;
      object-fit: cover;
      border-radius: 50%;
      border: 2px solid $primary-color;
    }
  }
}
